<!DOCTYPE html>
<html lang = "en"
      xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" >
<head>
    <div th:fragment="header-css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <link href="/css/main.css" rel="stylesheet">
            
        
        <!-- <link href="/css/easy-autocomplete.css" rel="stylesheet"> -->
    </div>
</head>
<body>
    <div th:fragment="header">
          <!--  <h2 class="hello-title" th:text="#{app.title}"></h2> -->
    </div>

</body>
</html>