<!DOCTYPE html>
<html lang="en" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title th:text="'Hello, ' + ${name} + '!'"></title> -->
    <title th:text="#{app.title}"></title>
    
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
    <div th:replace="fragments/header :: header"/>
    
    <div th:replace="fragments/form :: form"/>
 
    <div th:replace="fragments/footer :: footer"/>
</body>
</html>